<% if @product.assemblies_parts.any? %>
  <div class="mt-5">
    <h5><%= Spree.t(:parts_included) %></h5>
    <% @product.variants_or_master.each do |variant| %>
      <div class="list-group">
          <% variant.parts_variants.includes(:part).each do |part_variant| %>
            <%- part = part_variant.part %>
            <a href="<%= url_for(part.product)%>" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between" id="product_<%= part.product.id %>" data-hook="products_list_item" itemscope itemtype="http://schema.org/Product">
              <h5 class="mb-1" itemprop="name"><%= part.product.plant_primary_common_name%></h5>
              <% if !part.in_stock? %>
                <small><%= Spree.t(:out_of_stock) %></small>
              <% end %>
              </div>
              <p class="mb-1">
                <em><%= part.product.variety_name%></em>
              </p>
              <p class="mb-1">
                <em><%= part.product.primary_scientific_name%></em>
              </p>
            </a>
          <% end %>
      </div>
    <% end %>
  </div>
<% end %>










